.container {
  margin: 150px;
  .thongTinPhim {
    h3 {
      color: #f8faf9;

      font-weight: 600;
    }
    p {
      font-size: 25px;
      letter-spacing: 1px;
      span {
        font-size: 20px;
      }
    }
  }
  .danhSachHeThong {
    margin-top: 100px;
    h6 {
      margin-bottom: 50px;
      color: #f8faf9;
      font-weight: 600;
    }
  }
}
