.ghe {
  background-color: rgb(189, 182, 182);
  color: #fff;
  border-radius: 5px;
  border: none;
  width: 35px;
  height: 40px;
  cursor: pointer;
  margin: 5px;
  z-index: 50;
}
.gheVip {
  background-color: rgb(76, 0, 255);
}
.gheDaDat {
  background-color: red;
  cursor: no-drop !important;
}
.gheDangDat {
  background-color: rgb(22, 192, 22);
  cursor: pointer;
}
